/-1.14-windows.xml
/.android
/.MemuHyperv
/.vscode
/AppData
/Contacts
/Documents
/Downloads
/Favorites
/gygv.py
/instagram_clone.py
/ks.bksa
/lab_2.py
/lab_6.py
/Links
/ljsad.py
/Music
/My fisrt python P.py
/my primary python.py
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{4616df96-4089-11ee-af11-7413eab4eeba}.TM.blf
/NTUSER.DAT{4616df96-4089-11ee-af11-7413eab4eeba}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{4616df96-4089-11ee-af11-7413eab4eeba}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/nv.py
/OneDrive
/Pictures
/Saved Games
/Searches
/Videos
/wemove.py
/Zotero
/OneDrive - Ashesi University
/Application Data
/Local Settings
/My Documents
/PrintHood
/Cookies
/SendTo
/NetHood
/Start Menu
/Templates
/Recent